@{
    ViewData["Title"] = "Home Page";
}


    <div class="banner">
        <div class="container">
            <div class="banner-info animated wow zoomIn" data-wow-delay=".5s">
                <h3>ESHOP</h3>
                <h4 style="margin:auto">Fashionista</h4>
            </div>
        </div>
    </div>
    @{
        ESHOPContext db = new ESHOPContext();
        List<HangHoa> hhs = db.HangHoa.ToList();
        List<HangHoa> hhnb = new List<HangHoa>();
        int demhhnb = 0;
        foreach (var item in hhs)
        {
            List<BinhLuanSp> bls = db.BinhLuanSp.Where(p => p.MaHh == item.MaHh).ToList();
            if (bls.Count > 0 && demhhnb < 8)
            {
                ++demhhnb;
                hhnb.Add(item);
            }
        }
        if (demhhnb < 8)
        {
            Random rnd = new Random();
            List<HangHoa> hhs_random = hhs.OrderBy(x => rnd.Next()).ToList();

            foreach (var hh in hhs_random)
            {
                if(!hhnb.Contains(hh) && demhhnb < 8)
                {
                    ++demhhnb;
                    hhnb.Add(hh);
                }
            }
        }
    }
    <div class="new-collections">
        <div class="container">
            <h3 class="animated wow zoomIn" data-wow-delay=".5s">Sản phẩm nổi bật</h3>
            <div class="new-collections-grids">

                @foreach (var item in hhnb)
                {
                    <div class="col-md-3 new-collections-grid">
                        <div class="new-collections-grid1 new-collections-grid1-image-width animated wow slideInUp" data-wow-delay=".5s">
                            <div class="new-collections-grid1-image">
                                <a asp-action="ChiTiet" asp-controller="HangHoa" asp-route-mahh="@item.MaHh" class="product-image"><img src="~/HangHoa/@item.Hinh" alt=" " class="img-responsive" /></a>
                                <div class="new-collections-grid1-image-pos new-collections-grid1-image-pos1">
                                    <a asp-action="ChiTiet" asp-controller="HangHoa" asp-route-mahh="@item.MaHh">Xem chi tiết</a>
                                </div>
                                <div class="new-collections-grid1-right new-collections-grid1-right-rate">
                                    <div class="rating">
                                        <div class="rating-left">
                                            <img src="images/2.png" alt=" " class="img-responsive" />
                                        </div>
                                        <div class="rating-left">
                                            <img src="images/2.png" alt=" " class="img-responsive" />
                                        </div>
                                        <div class="rating-left">
                                            <img src="images/2.png" alt=" " class="img-responsive" />
                                        </div>
                                        <div class="rating-left">
                                            <img src="images/2.png" alt=" " class="img-responsive" />
                                        </div>
                                        <div class="rating-left">
                                            <img src="images/1.png" alt=" " class="img-responsive" />
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </div>
                                <div class="new-one">
                                    <p>New</p>
                                </div>
                            </div>
                            <h4><a href="single.html">@item.TenHh</a></h4>
                            @{ 
                                double giaban = item.DonGia * (1 - item.GiamGia);
                            }
                            <div class="new-collections-grid1-left simpleCart_shelfItem">
                                <p><i>@item.DonGia.ToString("#,##0") đ</i> <span class="item_price">@giaban.ToString("#,##0") đ</span></p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

